@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bgColor: #f8f8e9;
    --bgMenu: #333;
    --contrast: #98FB98;
    --secundaryTextColor: #C2B280;
    --primaryTextColor: #556B2F;
    --thirdTextColor: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bgColor);
    overflow-x: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: #5e5b5b;
}

.mobile-nav {
    display: block;
    position: relative;
    background-color: var(--bgMenu);
    text-align: center;
}

.img-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/src/images/WhatsApp\ Image\ 2024-07-13\ at\ 11.58.33\ \(2\).jpeg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 60vw;
    height: 60vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16em;
    align-items: flex-start;
}

.img-home > p {
    padding: 25px;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

#change-theme {
    display: none;
}

.dark {
    background-color: #333;
}

.bi-moon {
    display: none;
    
}

.bi-sun {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
}

.dark .bi-sun {
    display: none;
    cursor: pointer;
}

.dark .bi-moon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
}

label > i{
    color: #ffffff;
}

@media screen and (min-width: 911px) {
    
    .topnav {
        background-color: #2F4F4F;
        display: block;
        overflow: hidden;
        font-weight: lighter;
        box-shadow: 0.5px 0.5px 10px 0.5px #000;
        position: relative;
        transition: background-color 0.3s ease;
    }

    .topnav a {
        float: left;
        display: block;
        text-align: center;
        color: var(--thirdTextColor);
        text-decoration: none;
        padding: 10px 16px;
        font-size: 0.9em;
        border-bottom: 3px solid transparent;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .topnav a:hover {
        background-color: var(--contrast);
        color: var(--primaryTextColor);
    }

    .topnav a.active {
        border-bottom: 3px solid var(--thirdTextColor);
    }

    #tab {
        display: none;
    }

    .icon {
        display: none;
    }

    .item-menu::after {
        content: "";
        background-color: var(--bgColor);
        height: 100%;
        width: 0px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: 150ms ease-in-out;
    }

    .item-menu:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    .mobile-nav {
        display: block;
        overflow: hidden;
        background-color: var(--bgMenu);
        position: relative;
    }

    .mobile-nav #links {
        display: none;
        text-align: left;
    }

    .mobile-nav a {
        color: var(--thirdTextColor);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
        display: block;
    }

    .mobile-nav a.icon {
        background: var(--bgMenu);
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        color: var(--thirdTextColor);
    }

    .item-menu {
        border: 1px solid rgb(27, 25, 25);
    }

    .img-home {
        background-size: cover;
    }
}

h1 {
    color: var(--primaryTextColor);
    font-size: 3em;
    width: min(63vw, 90%);
    margin: 20px auto;
    text-align: center;
}

.anim-h1 {
    animation: focus-in-contract .9s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 2px;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}
